{% extends "base.html" %}
{% block css %}
    {{ block.super }}
    <script src="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.css" />
{% endblock css %}
{% block main %}
    <a href="{% url 'admin:ojpp_common_schedule_change' object_id=object.pk %}" class="button is-warning" style="float:right">Edit</a>
    <h2 class="is-size-2">{{ operator.name }}</h2>
    <hr>
    <div class="columns">
        <section class="column">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <td>{{ object.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ object.name|default:"" }}</td>
                </tr>
                <tr>
                    <th>IJPP tag</th>
                    <td>{{ object.ijpp_tag|default:"" }}</td>
                </tr>
                <tr>
                    <th>IJPP ID</th>
                    <td>{{ object.ijpp_id|default:"" }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ object.description|default:"" }}</td>
                </tr>
            </table>
        </section>
    </div>

    <section id="routes">
        <div id="calendar-element"></div>
    </section>

    <style>
        .day {
            background-color: hsl(0, 0%, 96%);
        }
        .calendar-header {
            display: none;
        }
        .calendar table.month td.day .day-content {
            border-radius: 0;
        }
    </style>
    <script>
        new Calendar('#calendar-element', {
            style: 'background',
            dataSource: [
                {% for date in days_active %}
                    { startDate: new Date({{ date.year }}, {{ date.month }} - 1, {{ date.day }}), endDate: new Date({{ date.year }}, {{ date.month }} - 1, {{ date.day }}), color: 'hsl(141, 71%, 48%)' },
                {% endfor %}
            ],
            weekStart: 1
        })
    </script>
{% endblock %}